:root {
    --purple: #9552a0;
    --dark-purple: #894b93;
    --black-purple: #7d4586;
    --light-purple: #a768b1;
}

/* purple color text */
.text-purple {
    color: var(--purple) !important;
}

/* purple color button */
.btn-purple {
    color: #fff !important;
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
}
.btn-purple:hover {
    color: #fff !important;
    background-color: var(--dark-purple) !important;
    border-color: var(--black-purple) !important;
}

/* outline-purple button */
.btn-outline-purple {
    color: var(--light-purple) !important;
    border-color: var(--light-purple) !important;
}
.btn-outline-purple:hover {
    color: #fff !important;
    background-color: var(--light-purple) !important;
}

/* purple background */
.bg-purple {
    color: #fff !important;
    background-color: var(--light-purple) !important;
}

/* purple color border */
.border-purple {
    border-color: var(--light-purple) !important;
}

a {
    color: var(--light-purple);
}
a:hover {
    color: var(--black-purple);
}
